<h4>REGISTER</h4>
<div>
  <form [formGroup]="formData" (ngSubmit)="submitRegister()">
    <div class="form-group">
      <label class="form-label" for="Username">Email</label>
      <input class="form-control" [ngClass]="{'is-invalid': formData.controls['Username'].status === 'INVALID' && formData.controls['Username'].touched}" type="email" name="Username" formControlName="Username" required/>
      <div class="invalid-feedback" *ngIf="formData.controls['Username'].hasError('required') && formData.controls['Username'].touched">
        <span>Please enter email</span>
      </div>
      <div class="invalid-feedback" *ngIf="formData.controls['Username'].hasError('email') && formData.controls['Username'].touched">
        <span>Please enter a valid email address</span>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label" for="Password">Password</label>
      <input class="form-control" type="password" name="Password" formControlName="Password" [ngClass]="{'is-invalid': formData.controls['Password'].status === 'INVALID' && formData.controls['Password'].touched}" (change)="setPassword()" />
      <div class="invalid-feedback" *ngIf="formData.controls['Password'].hasError('required') && formData.controls['Password'].touched">
        <span>Please enter password</span>
      </div>
      <div class="invalid-feedback" *ngIf="formData.controls['Password'].hasError('minlength') && formData.controls['Password'].touched">
        <span>Password must be at least 8 chars long</span>
      </div>
      <div class="invalid-feedback" *ngIf="formData.controls['Password'].hasError('maxlength') && formData.controls['Password'].touched">
        <span>Password can't be longer than 16 chars</span>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label" for="confirmPassword">Confirm Password</label>
      <input class="form-control" type="password" name="confirmPassword" formControlName="confirmPassword" [ngClass]="{'is-invalid': formData.controls['confirmPassword'].status === 'INVALID' && formData.controls['confirmPassword'].touched}" />
      <div class="invalid-feedback" *ngIf="formData.controls['confirmPassword'].hasError('required')">
        <span>Please enter password confirmation</span>
      </div>
      <div class="invalid-feedback" *ngIf="formData.controls['confirmPassword'].hasError('minlength') && formData.controls['confirmPassword'].touched">
        <span>Password must be at least 8 chars long</span>
      </div>
      <div class="invalid-feedback" *ngIf="formData.controls['confirmPassword'].hasError('maxlength') && formData.controls['confirmPassword'].touched">
        <span>Password can't be longer than 16 chars</span>
      </div>
    </div>
    <div class="form-group form-check">
      <input class="form-check-input" type="checkbox" name="termsAgreements" formControlName="termsAgreements" (click)="updateTA(true)">
      <label class="form-check-label" for="termsAgreements">
        I accept the general Terms&Agreements concerning privacy and information 
      </label>
    </div>
    <input class="btn btn-primary mt-2" type="submit" name="submitRegister" value="Register" [disabled]="formData.invalid" />
  </form>
  <hr />
</div>
