  <h4>LOGIN</h4>
  <div>
    <form [formGroup]="formData" (ngSubmit)="submitLogin()">
      <div class="form-group">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" [ngClass]="{'is-invalid': formData.controls['Username'].status === 'INVALID' && formData.controls['Username'].touched}" type="email" name="Username" formControlName="Username" />
        <div class="invalid-feedback" *ngIf="formData.controls['Username'].hasError('required') && formData.controls['Username'].touched">
          <span>Please enter email</span>
        </div>
        <div class="invalid-feedback" *ngIf="formData.controls['Username'].hasError('email') && formData.controls['Username'].touched">
          <span>Please enter a valid email address</span>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" name="Password" formControlName="Password" [ngClass]="{'is-invalid': formData.controls['Password'].status === 'INVALID' && formData.controls['Password'].touched}" />
        <div class="invalid-feedback" *ngIf="formData.controls['Password'].hasError('required') && formData.controls['Password'].touched">
          <span>Please enter password</span>
        </div>
        <div class="invalid-feedback" *ngIf="formData.controls['Password'].hasError('minlength') && formData.controls['Password'].touched">
          <span>Password must be at least 8 chars long</span>
        </div>
        <div class="invalid-feedback" *ngIf="formData.controls['Password'].hasError('maxlength') && formData.controls['Password'].touched">
          <span>Password can't be longer than 16 chars</span>
        </div>
      </div>
      <input class="btn btn-primary mt-2" type="submit" name="submitLogin" value="Login" />
    </form>
    <hr />
    <div>
      <span>Don't have an account? </span>
      <a [routerLink]="'/register'"> Register </a>
    </div>
  </div>
