<form [formGroup]="formData" (ngSubmit)="search()">
<div class="input-group">
    <label for=""></label>
    <input type="text" name="Keyword" formControlName="Keyword" class="form-control" placeholder="Search Location">
    <div class="input-group-append ml-1">
    <input class="btn btn-secondary" type="submit" value="Search" />
    </div>
    </div>
</form>

<div class="container">
    <!-- <div *ngFor="let day of days; let i=index;" class="panel panel-default">
        <div class="panel-heading">{{ day.dt * 1000 | date:'dd/MM/yyyy' }}</div>
        <div class="panel-body">{{ day.weather[0].main }}</div>
    </div> -->
    <div *ngFor="let day of days; let i=index;" class="card m-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ day.dt * 1000 | date:'dd/MM/yyyy' }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ day.weather[0].description }}</h6>
          <p class="card-text">
            {{ day.weather[0].main }} , {{ day.main.temp_min }}K, {{ day.main.temp_max }}K
          </p>
        </div>
      </div>
</div>

<a class="btn btn-warning mt-3" style="color:white!important" (click)="logout()">Logout</a>
